<!DOCTYPE html>
<html>
  <head>
  <meta name="description" content="name form">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>name form</title>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script type="text/javascript" src="scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <header class="site-header"><a href="/" target="" alt="index" title="index">Demo Sinatra Basics</a></header>

    <%= yield %>

  </body>
</html>