<html style="background-color: #f1f1f1;">
<article style="border-radius: 25px; background-color: white; overflow: auto; width: 400px; height: 300px; transform: rotate(7deg); box-shadow: 10px 10px 10px gray;">

  <header style="background-color: blue; border-radius: 0px; padding: 2px; color: white; text-align: center; height: 100px; margin: 0px;">
    <h1 style="font-size: 4em; margin: 0px">HELLO!</h1>
    <h2 style="margin-top: 0px;">my name is</h2>
  </header>

  <section style="text-align: center; height: 150px;">
    <h1 style="font-size: 2em;"><%= name %></h1>
    <p>of <%= city %> and I speak <%= language %></p>
  </section>

  <footer style="background-color: blue; height: 25px;"></footer>
</article>
</html>
