<article>
  <header>
    <h1>HELLO!</h1>
    <h2>my name is</h2>
  </header>

  <section>
    <h1><%= name %></h1>
    <p>of <%= city %> and I speak <%= language %></p>
  </section>

  <footer></footer>
</article>